.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0
}
.slick-list:focus {
	outline: 0
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}
.slick-slider .slick-list, .slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto
}
.slick-track:after, .slick-track:before {
	display: table;
	content: ''
}
.slick-track:after {
	clear: both
}
.slick-loading .slick-track {
	visibility: hidden
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px
}
[dir=rtl] .slick-slide {
	float: right
}
.slick-slide.slick-loading img {
	display: none
}
.slick-slide.dragging img {
	pointer-events: none
}
.slick-initialized .slick-slide {
	display: block
}
.slick-loading .slick-slide {
	visibility: hidden
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}
.slick-arrow.slick-hidden {
	display: none
}
.slick-slide {
	outline: 0
}
.slider {
	width: 100%;
	display: inline-block;
	vertical-align: top
}
.slick-slide {
	margin: 0 0;
	padding: 0 0
}
.slick-slide img {
	max-width: 100%;
}
.slick-next:before, .slick-prev:before {
	color: #000
}
.slick-slide {
	transition: all ease-in-out .3s;
	opacity: 1
}
.slick-active {
	opacity: 1
}
.slick-current {
	opacity: 1
}
.slick-loading .slick-list {
	background: #fff url(ajax-loader.gif) center center no-repeat
}
.slick-next, .slick-prev {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
	color: transparent;
	outline: 0
}
.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
	opacity: 1
}
.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
	opacity: 1
}
.slick-next:before, .slick-prev:before {
	font-family: slick;
	font-size: 20px;
	line-height: 1;
	opacity: 1;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.slick-prev {
	left: -10px;
	width: 41px;
	height: 41px;
	background: url(../images/left-arow.png) no-repeat; z-index: 5 /*10*/;
}
.slick-prev:hover{opacity: 0.8;}
[dir=rtl] .slick-prev {
	right: 10px;
	left: auto
}
.slick-prev:before {
	content: ''
}
[dir=rtl] .slick-prev:before {
	content: ''
}
.slick-next {
	right: -10px;
	width: 41px;
	height: 41px;
	background: url(../images/right-arow.png) no-repeat
}
.slick-next:hover{opacity: 0.8;}
[dir=rtl] .slick-next {
	right: auto;
	left: -25px
}
.slick-next:before {
	content: ''
}
[dir=rtl] .slick-next:before {
	content: ''
}


.slick-dots {
	position: relative;
	bottom:0 /*-60px*/;
	display:inline-block;vertical-align: top;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center
}



.slider{text-align: center;}
.slick-dots li {
	position: relative; background: #373991; border-radius: 50%;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	padding: 0;
	cursor: pointer
}


.slick-dots li button {
	font-size:0;
	display: block;color: #b9bab9; background: #373991;
	width: 10px;
	height: 10px;
	padding: 0;
	cursor: pointer;
	border: 0;
	outline: 0;
	background:none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%
}
.slick-dots li.slick-active button {
	color: #135100; background: #ec268f;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.slick-dots li button:focus, .slick-dots li button:hover {
	outline: 0
}
.slick-dots li button:focus:before, .slick-dots li button:hover:before {
	opacity: 1
}
.slick-dots li button:before {
	font-family: slick;
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '';
	text-align: center;
	opacity: .25;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.slick-dots li.slick-active button:before {
	opacity: 1;
	color: #000
}
