

.menuzord, .menuzord * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
.menuzord {
	width: 100%; display: inline-block; text-align: right;
	/*float: left;*/ padding: 0 80px 0 0 ;
	position: relative; z-index: 1;
}
.menuzord a {
	-o-transition: color .3s linear, background .3s linear;
	-moz-transition: color .3s linear, background .3s linear;
	-webkit-transition: color .3s linear, background .3s linear;
	transition: color .3s linear, background .3s linear
}
.menuzord-menu.scrollable>.scrollable-fix {
	display: none
}
.menuzord-brand {

	float: left;
	color: #666;
	text-decoration: none;
	font-size: 24px;
	line-height: 1.3;
	cursor: pointer
}
.menuzord-menu {
	margin: 0;
	padding: 0;
	list-style: none
}
.menuzord-menu.menuzord-right {
	float: left;
}
.menuzord-menu>li {
	display: inline-block;
	float: left; /*margin:0 3px;*/
}
.menuzord-menu>li>a {
	font-family: 'Hind-Medium';
    display: block;
    vertical-align: top;
   margin: 17px 12px 8px 12px /*17px 15px 8px 15px*/;
    font-size: 13px;
    color: #333; 
    text-align: center;
    outline: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: transparent;
}
.menuzord-menu>li:first-child>a {background:none;}

.menuzord-menu>li.active>a, .menuzord-menu>li:hover>a {
	/*color: #ed4345; border-bottom:2px solid #ed4345;*/
	background: none; color:#ec268f;
}
.menuzord-menu ul.dropdown, .menuzord-menu ul.dropdown li ul.dropdown {
	list-style: none;
	margin: 0;
	padding:0px 0 0 0;
	display: none;
	position: absolute;
	z-index: 99;
	/*min-width: 200px;*/
    width: 200px;
	white-space: nowrap;
	background: #fff; top:47px  /*56px*/; display: block;
}
.menuzord-menu ul.dropdown li ul.dropdown {
	/*left: 100%*/
}
.menuzord-menu ul.dropdown li {
	clear: both;
	width: 100%;
	border: 0;
	font-size:13px;
	position: relative; line-height:22px;
}
.menuzord-menu ul.dropdown li a {
	width: 100%;
	background: 0 0; background: #FFF;
	padding:7px 15px; text-align:left; text-transform:capitalize; font-size: 13px; /*border-bottom:1px solid #ddd;*/
    font-family: 'Hind-Medium';
	color: #1b1c1e;
	text-decoration: none;
	display: inline-block;
	float: left;
	clear: both;
	position: relative;
	outline: 0;
	-o-transition: padding .2s linear;
	-moz-transition: padding .2s linear;
	-webkit-transition: padding .2s linear;
	transition: padding .2s linear;
}
.menuzord-menu ul.dropdown li:first-child a {/*border-top:1px solid #ddd;*/}
.menuzord-menu ul.dropdown li:hover>a { background:#FFF;
	/*padding-left: 18px;
	padding-right:15px;*/
	color: #ec268f
}
.menuzord-menu ul.dropdown.dropdown-left {
	left: none
}
.menuzord-menu ul.dropdown li ul.dropdown.dropdown-left {
	left: -100%
}
.menuzord-menu li .indicator {
	margin-left:2px; display: none;
}
.menuzord-menu>li>a span{
	font-size: 15px;
	vertical-align: top;
	margin: -2px 0 0 0px;
	display: inline-block;
}


.menuzord-menu li ul.dropdown li .indicator {
	position: absolute;
	top: 8px;
	right: 10px;
	font-size: 15px
}
.menuzord-menu>li>.megamenu {left: auto; right: auto;
	width: 100%;
	padding: 20px 60px;
	/*left: 0;*/
	position: absolute;
	display: none;
	z-index:20;
	background: #FFF
}
.menuzord-menu>li>.megamenu.megamenu-half-width {
	width: 50%;
	left: auto
}
.menuzord-menu>li>.megamenu.megamenu-quarter-width {
	width: 25%;
	left: auto
}
.menuzord-menu>li>.megamenu .megamenu-row {
	width: 100%;
	margin-top: 15px
}
.menuzord-menu>li>.megamenu .megamenu-row:first-child {
	margin-top: 0
}
.menuzord-menu>li>.megamenu .megamenu-row:after, .menuzord-menu>li>.megamenu .megamenu-row:before {
	display: table;
	content: "";
	line-height: 0
}
.menuzord-menu>li>.megamenu .megamenu-row:after {
	clear: both
}
.menuzord .showhide {
	width:40px; height: 40px; line-height: 40px; margin: 8px 0 0 0 !important;  /*margin:26px 0 !important;*/ background: #373991; padding: 11px 10px;
	/*display:none;*/ border-radius: 3px;
	float: left;
	text-decoration: none;
	outline: 0;
	-webkit-tap-highlight-color: transparent
}
.menuzord .showhide em {
	width:100%;
	height:2px;
	margin:2px 0px;
	float:right;
	background: #fff
}
.menuzord-menu>li>a>i {
	margin: 0 5px 0 0;
	font-size: 18px;
	float: left;
	line-height: 20px;
	font-family: FontAwesome
}
.menuzord-menu>li.search form {
	float: left;
	padding: 22px 16px 17px
}
.menuzord-menu>li.search form input[type=text] {
	width: 160px;
	padding: 5px 10px;
	font-family:'Roboto-Regular';
	border: none;
	background: #f0f0f0;
	border-radius: 2px;
	outline: 0;
	-o-transition: width 1s ease-out;
	-moz-transition: width 1s ease-out;
	-webkit-transition: width 1s ease-out;
	transition: width 1s ease-out
}
.menuzord-menu>li.search form:hover input[type=text] {
	width: 160px
}
.menuzord-tabs {
	width: 100%;
	float: left
}
.menuzord-tabs-nav {
	width: 20%;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none
}
.menuzord-tabs-nav>li>a {
	width: 100%;
	padding: 7px 16px;
	float: left;
	font-size: 13px;
	text-decoration: none;
	color: #666;
	border: 1px solid #f0f0f0;
	outline: 0
}
.menuzord-tabs-nav li.active a, .menuzord-tabs-nav li:hover a {
	background: #f0f0f0
}
.menuzord-tabs-content {
	width: 80%;
	min-height: 30px;
	padding: 20px;
	float: right;
	display: none;
	font-size: 13px;
	border: 1px solid #f0f0f0
}
.menuzord-tabs-content.active {display: block;}

/*.menuzord.red .menuzord-menu ul.dropdown li:hover>a, .menuzord.red .menuzord-menu>li.active>a, .menuzord.red .menuzord-menu>li:hover>a {
	color: #00a85a;font-family:'Roboto-Bold'; border-bottom:5px solid #ffcb05; background:#fdffdb;
}
*/
/*.menuzord.red .menuzord-menu .menuzord.red .menuzord-menu>li.active {color: #00a85a;font-family:'Roboto-Bold'; border-bottom:5px solid #ffcb05; background:#fdffdb;}*/
.menuzord-menu>li a.active {color: #ed4345; border-bottom:2px solid #ed4345;}

.menuzord.red .menuzord-menu ul.dropdown li:hover>a, .menuzord-menu>li:hover>a {/*color: #ed4345; border-bottom:2px solid #ed4345;*/}

/*.menuzord.orange .menuzord-menu ul.dropdown li:hover>a, .menuzord.orange .menuzord-menu>li.active>a, .menuzord.orange .menuzord-menu>li:hover>a {
	color: #00a85a;font-family:'Roboto-Bold'; border-bottom:5px solid #fff;
}*/

@media (max-width:1266px) {
    .menuzord{padding: 0 100px 0 0;}
    .menuzord-menu>li>a{margin:17px 10px 8px 10px; }
}

@media (max-width:1100px) {
	.menuzord{padding: 0;}
.menuzord-menu>li>a{/*padding: 5px 15px 0 15px;*/ font-size: 13px; /*margin: 0 8px 30px 8px;*/ letter-spacing: 0; padding: 21px 0 8px 0; margin: 0 9px;}
}

@media (max-width:800px) {
	.menuzord-menu>li{margin:0; padding: 0;}
.menuzord{ /*float:right;*/ width:100%; z-index:1; margin: /*5px 0 0*/ 0; /*margin: 8px 0 0 0;*/}
    .menuzord-menu>li>a span{display: none}

.menuzord-menu li .indicator {
	 margin-top: -10px; /*margin-left:2px;*/ display: block; text-indent:99px;
}

.menuzord-responsive.menuzord {
	padding: 0
}
.menuzord-responsive .menuzord-brand {
	margin: 8px 30px 10px 20px;
	font-size: 20px;
	line-height: 1.55
}
.menuzord-responsive .showhide {
	/*margin: 0 20px 0 0;*/margin: 0;
    /*position: fixed;*/
    left: 0; z-index: 999999;
    top: 115px;
}
.menuzord-responsive .menuzord-menu {
	width:100% /*50%*/; left: 0; position: fixed; background:#fff; z-index:100; top:162px /*105px*/;
	display: block; !important;
	/*float: left!important; position:absolute relative; margin-top: 65px;*/
}
.menuzord-responsive .menuzord-menu.scrollable {
	/*overflow-y: auto;*/
	-webkit-overflow-scrolling: touch
}
.menuzord-responsive .menuzord-menu.scrollable>.scrollable-fix {
	display: block
}
.menuzord-responsive .menuzord-menu>li {
	width: 100%;
	display: block;
	position: relative
}
.menuzord-responsive .menuzord-menu>li>a {background: #FFF;
	width: 100%;
	padding:12px 10px; margin: 0;
	display: block;
	border-bottom: solid 1px #f0f0f0; text-align:left; font-size:13px; color:#5d5d5d; border-radius:0;
}

	.menuzord-menu>li.active>a, .menuzord-menu>li:hover>a{color: #2660a4 !important;}

.menuzord-menu>li>a{ height:auto;}
.menuzord-responsive .menuzord-menu>li:first-child>a {
	border-top: none;
}
.menuzord-responsive .menuzord-menu ul.dropdown, .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown {
	width: 100%;
	left: 0;
	position: static;
	border: none;
	background: #fff;
	float: left
}
.menuzord-responsive .menuzord-menu ul.dropdown li {
	position: relative
}
.menuzord-responsive .menuzord-menu ul.dropdown li a {
	/*border-bottom: solid 1px #f0f0f0*/
}
.menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>a {
	/*padding-left: 40px!important*/
}
.menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>a {
	padding-left: 60px!important
}
.menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>ul.dropdown>li>a {
	padding-left: 80px!important
}
.menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li:hover>a {
	padding-left: 50px!important
}
.menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li:hover>a {
	padding-left: 70px!important
}
.menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>ul.dropdown>li:hover>a {
	padding-left: 90px!important
}
.menuzord-responsive .menuzord-menu li .indicator {
	/*width:40px;
	height:38px; right: 0; text-align: center line-height:35px;border-left: solid 1px #f5f5f5;
	top: 0;*/ float: right; width: 96%; text-align: right; line-height: 0;
	position: absolute;

	font-size: 22px;


	 background:url(../images/indicator.png) no-repeat;
}
.menuzord-menu ul.dropdown li:first-child a{border-top: none;}
.menuzord-responsive .menuzord-menu li ul.dropdown li .indicator {
	height: 38px;
	right: 0;
	top: 0;
	font-size: 18px;
	line-height: 36px
}
.menuzord-responsive .menuzord-menu>li>.megamenu {
	width: 100%!important;
	left: 0!important;
	border-top: none;
	border-bottom: solid 1px #f0f0f0
}
.menuzord-responsive .menuzord-menu>li>.megamenu .megamenu-row [class*=col] {
	float: none;
	display: block;
	width: 100%!important;
	margin-left: 0;
	margin-top: 15px
}
.menuzord-responsive .menuzord-menu>li>.megamenu .megamenu-row, .menuzord-responsive .menuzord-menu>li>.megamenu .megamenu-row:first-child [class*=col]:first-child {
	margin-top: 0
}
.menuzord-responsive .menuzord-menu>li.search form {
	width: 100%;
	margin: 4px 0;
	padding: 10px 16px!important
}
.menuzord-responsive .menuzord-menu>li.search form input[type=text], .menuzord-responsive .menuzord-tabs-content, .menuzord-responsive .menuzord-tabs-nav {
	width: 100%
}
    
    
    .menuzord-menu>li>.megamenu.two-row{max-width: 100%; width: 100%;}
    
}


@media (max-width:700px) {

	
	.menuzord-responsive .menuzord-menu{top: 89px /*53px*/; width: 100%;}
    .menuzord-responsive .showhide{top: 91px;}
    
    .menuzord .showhide{width: 30px; height: 30px; line-height: 30px; padding: 6px 6px;}
}
@media (max-width:640px) {
    .menuzord-responsive .showhide{top: 98px;}
    .menuzord-responsive .menuzord-menu{top: 96px;}
}
@media (max-width:568px) {
    .menuzord-responsive .showhide {top: 91px;}
    .menuzord-responsive .menuzord-menu{top: 136px;}
    
}

@media (max-width:375px) {
    /*.menuzord-responsive .menuzord-menu {top: 136px;}*/
}
@media (max-width:320px) {
    .menuzord-responsive .menuzord-menu {top: 128px;}
    .menuzord-responsive .showhide {top: 83px;}
}
